%h2
  Filter Events:
  =select_tag :state, options_for_select([['All Events', '']] + Event.states.map{|s| [Event.state_descriptions[s], s]}, params[:state]), :onchange => 'javascript:window.location="/events/"+this.value;'
%table
  %thead
    %th Event ID
    %th Title
    %th Starts
    %th Ends
  %tbody
    -@events_by_state = Hash.new([]).merge(@events.group_by { |e| e.state_name })
    -Event.states.reverse.each do |s|
      %tr
        %th{ :colspan => 5 }= Event.state_descriptions[s]
      -@events_by_state[s].each do |e|
        %tr
          %td= e.collegiatelink_id
          %td
            %b= link_to e.title, e
            -if e.organization
              (#{link_to e.organization.name, e.organization})
          %td
            - if e.starts < Time.now
              =time_ago_in_words(e.starts)
              ago
            - else
              in
              =distance_of_time_in_words_to_now(e.starts)
          %td
            - if e.ends < Time.now
              =time_ago_in_words(e.ends)
              ago
            - else
              in
              =distance_of_time_in_words_to_now(e.ends)
