%table
  %thead
    %th Event ID
    %th Organization
    %th Title
    %th Starts
  %tbody
    -@events.each do |e|
      %tr
        %td= e.collegiatelink_id
        %td= e.organization.try(:name)
        %td= e.title
        %td= e.starts
