This is the final email regarding your event, "#{@event.title}", on #{@event.starts.to_date}. Per the new Dynamic Rolling Funding System, two weeks after the event, any unused or unspent money from this event will be redeposited into the general Rolling Funding Account for your group or other groups to use. Please let us know if you have any questions or concerns.

If receipts are submitted more than two weeks after the event without prior approval, you will need to email your group's USG Treasurer and USG VP of Finance (#{mail_to 'usg-vpfinance@case.edu'}).
