%p
  Dear Officers of #{@event.organization.name},
%p
  Hi! We hope that "#{@event.title}" was a success!
  We just wanted to remind you that you have one week left to submit any itemized receipts or other Purchase Requests on SpartanLink. Remember that all requests must be printed out and turned into the brown box in the USG Office. If you need longer for any reason, please contact your group's USG Treasurer to arrange as such before next week.
