%p
  Dear Officers of #{@event.organization.name},
%p
  Hi! We know that you are probably busy planning for "#{@event.title}" tomorrow, but we just wanted to remind you to collect all of your itemized receipts and turn them in no later than #{@event.ends.to_date}.  If you need longer for any reason, please contact your group's USG Treasurer to arrange as such.
%p
  Good luck with the event, and please do not hesitate to let us know if you have any questions or concerns.
