%p
  Hello,
%p
  It looks like your event is going to happen within 24 hours:
%pre
  #{@event.inspect}
%p
  This is the email which wishes you good luck for your event, and offers you
  the final opportunity to change the date of your event.
