%p
  Hello,
%p
  It looks like your event is two weeks out:
%pre
  #{@event.inspect}
%p
  This is the email which tells you that you should start saving your receipts!
%p
  Or, click here if your event is no longer going to happen.
